################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProtoGUI/.vs/ProtoGUI
/.vs
